<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "首頁", root_path, class: "nav-link "%>
      </li>
      <li class="nav-item">
        <%= link_to "餐廳最新動態", feeds_restaurants_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Top 10 人氣餐廳", ranking_restaurants_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "美食達人", users_path, class: "nav-link active" %>
      </li>
    </ul>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="page-header">
      <h3>美食達人</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-sm-3 user-item text-center">
        <img src="https://via.placeholder.com/100.png/09f/fff" alt="">
        <div>
          <%= link_to user.name, user_path(user) %>
        </div>
        
        
        <%= render partial: "shared/follow", locals: {user: user} %>
        
        <% if user != current_user %>
          <% if current_user.friend?(user) %>
            <%= link_to "Unfriend", friendship_path(user), method: :delete, class: "btn btn-outline-dark" %>
          <% else %>
            <%= link_to "Friend", friendships_path(friend_id: user), method: :post, class: "btn btn-outline-dark" %>
          <% end %>
        <% end %>
      </div>
      
  <% end %>

  </div>
</div>
